@import '../../bedrock/scss/variables';

:host {
  display: flex;
  align-items: center;
  margin-bottom: 2em;

  h1 {
    font-size: $font-size-h1;
    margin: 0;
  }

  .page_icon {
    margin-right: 1rem;
    flex-shrink: 0;
  }

  .tooltip_icon {
    color: $color-gray-light;
  }

  abbr {
    align-self: flex-end;
    margin-left: 0.5rem;
  }
}
